node_modules/
.env
.DS_Store
uploads/*
exports/*
voices/*
temp/*
!uploads/.gitkeep
!exports/.gitkeep
!voices/.gitkeep
!temp/.gitkeep
client/node_modules/
client/dist/
server/node_modules/
server/dist/
.venv-demucs/
exports/
server/node_modules/
